// Custom styles.
ul {
list-style-type: circle;
}

.feed-link a{display: inline-block;}
.fa-github:hover{color:#4E287B;}
.fa-weibo:hover{color:#F5231C;}

.site-author-name {
  font-size: 16px;
}

.site-author-image {
  border-radius: 100%;
  padding: 2px;
  border: 2px dashed #fff;
  animation: cycle 2s 0.5s forwards;
  transition: border-radius 2s;
}
/* .site-author-image:hover {
  border-radius: 0;
  border: 2px solid #19c8d5;
}*/
