// Custom styles.

// NexT主题自定义面页无序列表样式
ul {
list-style-type: circle;  // 空心圆，实心圆为 disc
}

// high起来并排显示
.feed-link a{display: inline-block;}
 
// 博主名字号大小
.site-author-name {
  font-size: 16px;
}

// 作者头像变成圆形及动画
.site-author-image {
  border-radius: 70%;
  padding: 2px;
  border: 1px solid #eee;
  animation: cycle 1s 0.5s forwards;
  transition: border-radius 2s;
}
 .site-author-image:hover {
  border-radius: 0;
  border: 1px solid #eee;
}

// 代码块自定义样式``内的
code {
    color: #fc6423;
    background: #fbf7f8;
    margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 3px;
    border-radius: 3px;
}

.highlight, code, pre {
    border: 1px solid #d6d6d6;
}

