// Custom styles.
ul {
list-style-type: circle;
}

.feed-link a{display: inline-block;}
 

.site-author-name {
  font-size: 16px;
}

.site-author-image {
  border-radius: 70%;
  padding: 2px;
  border: 1px solid #eee;
  animation: cycle 1s 0.5s forwards;
  transition: border-radius 2s;
}
 .site-author-image:hover {
  border-radius: 0;
  border: 1px solid #eee;
}
